<div class="home-wrapper">
  <nav class="navbar navbar-inverse">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown" ng-show="home.hasUserStaffRight()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Staff1</a></li>
            <li><a href="#">Staff2</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Staff3</a></li>

          </ul>
        </li>
        <li>
          <p class="navbar-text">Connecté en tant que <a ui-sref="user-detail">{{home.username}}</a></p>
        </li>
        <li>

        </li>
      </ul>
      <button id="logout-btn" type="button " class="btn btn-default navbar-btn navbar-right" ng-click="home.logout()">Déconnection</button>

    </div>
  </nav>
  <div>
    <section class="col-md-3" ng-controller="IssuesCtrl as issues">
      <div class="list-group" ui-sref-active="active">
        <h2>List of issues</h2>
        <!-- list of issues -->

      </div>
    </section>
    <section class="col-md-9">
      <!-- map -->
      <div ng-controller="MapCtrl as map">
        <leaflet width="100%" height="480px" lf-center="map.center" defaults="map.defaults" markers="map.markers"></leaflet>
        <pre ng-show="complexResult">{{complexResult}}</pre>
      </div>

    </section>

  </div>

</div>