<section id="issues-section" class="col-md-3" data-ng-init="init()">
  <div class="list-group" ui-sref-active="active">
    <h2>Incidents</h2>
    <ul id="issueTabs" class="nav nav-tabs" role="tablist">
      <li id="allIssuesTabs" role="presentation" class="active" ng-click="switchTab('all')">
        <a href="#all">Récentes
        <img id="all-issues-loader" ng-src="../assets/img/spinner.gif"></a>
      </li>
      <li id="myIssuesTabs" role="presentation" ng-click="switchTab('my')">
        <a href="#my">Mes issues
          <img id="my-issues-loader" ng-src="../assets/img/spinner.gif"></a>
        </a></li>
    </ul>


    <!-- Tab -->
    <div class="tab-content">

      <!-- panneaux all recent issues -->
      <div role="tabpanel" class="tab-pane active" id="all">

        <div id="allIssuesZone" class="panel-group">


          <div ng-repeat="is in issues.all" class="issues-panel panel panel-info">
            <div class="panel-heading">

              <span class="iss-creator-name">
                <img class="user-icon" ng-src="../assets/img/user.png">{{is.creator.name}}
              </span>

              <span class="flag-calendrier">
                <img class="user-icon" ng-src="../assets/img/calendrier.png">
              </span>

              <span class="iss-date">{{is.createdAt | date:'medium'}}</span>

              <span class="flag-icon glyphicon glyphicon-flag" ng-click="issues.test(this)"></span>



            </div>
            <div class="panel-body">

              {{is.description}}
            </div>
          </div>

        </div>

      </div>

      <!-- panneaux my issues -->
      <div role="tabpanel" class="tab-pane" id="my"></div>
      <div class="panel-group">

        <div ng-repeat="is in issues.my" class="panel panel-info">
          <div class="panel-heading">

              <span class="iss-creator-name">
                <img class="user-icon" ng-src="../assets/img/user.png">{{is.creator.name}}
              </span>

            <span class="flag-calendrier">
                <img class="user-icon" ng-src="../assets/img/calendrier.png">
              </span>

            <span class="iss-date">{{is.createdAt | date:'medium'}}</span>

            <span class="flag-icon glyphicon glyphicon-flag" ng-click="issues.test(this)"></span>



          </div>
          <div class="panel-body">

            {{is.description}}
          </div>
        </div>

      </div>
      </div>
  </div>

</section>