<form class="form-signin" name="loginForm" ng-submit="submit()" novalidate>

    <h2 class="form-signin-heading">Nouveau compte</h2>

    <!-- login et validation -->
    <input type="text" ng-model="user.name" class="form-control" name="login" placeholder="Utilisateur" required minlength="3" />
    <div ng-if='loginForm.login.$dirty'>
        <div class="field-info" ng-if='loginForm.login.$error.required'>Saisissez votre login</div>
        <div class="field-info" ng-if='loginForm.login.$error.minlength'>Le login doit avoir au moins 3 caractères</div>
    </div>

    <!-- pass et validation -->
    <input type="password" ng-model="user.password" class="form-control" name="password" placeholder="Mot de passe" required minlength="3" />
    <div ng-if='loginForm.password.$dirty'>
        <div class="field-info" ng-if='loginForm.password.$error.required'>Saisissez votre mot de passe</div>
        <div class="field-info" ng-if='loginForm.password.$error.minlength'>Le mot de passe doit avoir au moins 3 caractères</div>
    </div>

    <!-- firstname -->
    <input type="text" ng-model="user.firstname" class="form-control" name="firstname" placeholder="Prénom" required minlength="3" />
    <div ng-if='loginForm.firstname.$dirty'>
        <div class="field-info" ng-if='loginForm.firstname.$error.required'>Saisissez votre rpénom</div>
        <div class="field-info" ng-if='loginForm.firstname.$error.minlength'>Le prénom doit avoir au moins 3 caractères</div>
    </div>

    <!--lastname -->
    <input type="text" ng-model="user.lastname" class="form-control" name="lastname" placeholder="Nom" required minlength="3" />
    <div ng-if='loginForm.lastname.$dirty'>
        <div class="field-info" ng-if='loginForm.lastname.$error.required'>Saisissez votre nom</div>
        <div class="field-info" ng-if='loginForm.lastname.$error.minlength'>Le nom doit avoir au moins 3 caractères</div>
    </div>

    <!-- phone -->
    <input type="tel" ng-model="user.phone" class="form-control" name="phone" placeholder="Téléphone" required minlength="3" />
    <div ng-if='loginForm.lastname.$dirty'>
        <div class="field-info" ng-if='loginForm.phone.$error.required'>Téléphone:</div>
        <div class="field-info" ng-if='loginForm.phone.$error.minlength'>Le téléphone avoir au moins 3 caractères</div>
    </div>

    <input type="hidden" name="roles" ng-model="user.roles" value="citizen">
    <!-- roles -->



    <!-- submission button & loginStatusBox -->
    <input class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled='loginForm.$invalid'/>

    <a class="btn btn-xs btn-danger btn-block" ui-sref="login">Annuler</a>



</form>